$main-color: #a7d61a;
$minor-color: #789F07;

$theme-colors: (
  "dark": #333,
  "light": #F6F6F6,
  "primary": $main-color
);

$display4-size: 2.5rem;
$display2-size: 4rem;
$display1-size: 4.5rem;
$headings-line-height: 0.7;
$enable-responsive-font-sizes: true;
$component-active-color: #303841;
$link-color: #303841;

@import "../node_modules/bootstrap/scss/bootstrap";

.alata{
  font-family: 'Alata', sans-serif;;
}

.handwrite{
  font-family: 'Qwigley', cursive;;
}

.text-font{
  font-family: 'Karla', sans-serif;
}

.text-soft{
  font-family: 'Karla', sans-serif;
  font-size: 1.1rem;

  &:hover{
    -webkit-animation: pulse 0.7s;
    animation: pulse 0.7s;
  }
}

.title{
  font-size: 1.5rem;
  span{
    color: $minor-color;
    font-weight: bold;
  }
}

.subtitle{
  font-size: 1.1rem;
  span{
    color: $minor-color;
    font-weight: bold;
  }
}

li > a{
  color: $main-color;

  &:hover{
    color: $minor-color;
  }
}

.resume h6{
  font-size: 1.1rem;
  line-height: 1.3rem;
}

.icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7px 5px;
  width: 80px;
  
  p{
    font-size: 1.2rem;
  }
  i{
    color: rgb(111, 111, 111);
    font-size: 42px;
  }

  &:hover{
    -webkit-animation: headShake 0.7s;
    animation: headShake 0.7s;
  }
}

.circle{
  width: 12px;
  height: 12px;
}

.line{
  width: 2.4px;
}

.contact i {
  color: $minor-color;
  font-size: 1.2rem;
}

@media screen and (min-width: 992px) {
  p.text-font{
    font-size: 1.1rem;
  }

  .general-container{
    height: 100vh;

    .header{
      height: 20%;
    }

    .main{
      height: 75%;

      section{
        height: 100%;

        & > ul{
          height: 10%;
        }

        & > div{
          height: 90%;
        }
      }
    }

    .content-container{
      width: 75%;
    }
  }

  /* Scrollbar */
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $dark; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(77, 77, 77); 
  }
}